.shopingCalculator-container{
    top:50vh;
    left: 50vw;
    position: fixed;
    width: 190px;
    height: 290px;
    margin-left: -95px;
    margin-top: -145px;
    background-color: blue;
    display: none;
}

.shopingCalculator-imgContainer{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.shopingCalculator-image{
    width: 70px;
    height: 70px;
}

.shopingCalculator-calculatorButtonsContainer{
    background-color: yellow;
    padding: 4px;
}

input[type="text"]{
    box-sizing: border-box;
    border-width: 2px;
    border-color: black;
    width: 100%;
    height: 30px;
    font-size: 1em;
    margin-bottom: 2px;
}

.shopingCalculator-buttonRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    --background-color: red;
}

.shopingCalculator-buttonRow button{
    font-size: 2em;
    font-style: italic;
    width: 60px;
    height: 50px;
}

.shopingCalculator-acceptButton{
    font-size: .8em !important;
    padding: 0;
    background-color: green;
    color: white;
    font-weight: bold;
}

.shopingCalculator-exCloser{
    cursor: pointer;
    top:1px;
    right: 1px;
    position: absolute;
    background-color: white;
}