.Menu-floating-button{
    position: fixed;
    right: 4px;
    bottom: 4px;
}

.Menu-fixed-window{
    height: var(--layoutHeigth);
}

.Menu-table-container{
    height: calc(100vh - (var(--mainToolBarHeigth) + var(--navigationToolBarHeigth) + var(--subToolbarHeigth)));
    overflow-y: scroll;
}