.Card-div{
    padding: 0;
    width: 100%;
    height: 40px;
    background-color: green;
    text-align: center;
    margin: 2px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.Card-p{
    margin: 0;
    color: white;
}

.Card-deleteImg{
    width: 35px;
    height: 35px;
}