.Card-img{
    width: 60px;
    height: 60px;
    position: relative;
}

.Card-div{
    display: inline-block;
    padding: 0;
    position: relative;
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color: black;
    text-align: center;
    margin: 2px;
    cursor: pointer;
}

.Card-p{
    position: absolute;
    margin: 0;
    background-color: black;
    color: white;
    border-radius: 0px 0px 10px 10px;
    visibility: hidden;
}

.Card-div:hover .Card-p{
    visibility: visible;
    top:0%;
    left: 100%;
    z-index: 1;
    animation: fadeIn .5s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

@media only screen and (max-width: 700px) {
    /* For tablets: */
    .Card-img{
        width: 45px;
        height: 45px;
    }

    .Card-div{
        width: 70px;
        height: 70px;
    }

    .Card-p{
        font-size: .8em;
    }
}