.Login-window-container {
    width: 100vw;
    height: 100vh;
    background-color: #689f38;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Login-form{
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.Login-form input{
    width: 85%;
    height: 40px;
    padding: 3px;
    border-radius: 4px;
    font-size: 1em;
    border: none;
    box-sizing: border-box;
}

.Login-form button{
    width: 85%;
    height: 35px;
    padding: 3px;
    border-radius: 4px;
    font-size: 1em;
    border: none;
}

.Login-imgContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.Login-img{
    width: 150px;
    height: 150px;
}