.Login-window-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Login-form{
    width: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Login-img{
    width: 150px;
    height: 150px;
}

.Login-imgContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.Login-input{
    width: 100%;
}

.Login-button{
    width: 150px;
}